.list-container {
  border: 1px solid #eee;

  .list-item {
    padding: 6px 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;

    .item-completed-checkbox {
      margin-right: 10px;
    }

    .item-title {
      margin-right: 10px;
    }

    .item-editing-input {
      margin-right: 10px;
      display: none;
    }

    button {
      margin-right: 10px;

      :last-child {
        margin-bottom: 0px;
      }
    }

    .item-save-button {
      display: none;
    }

    &.completed {
      .item-title {
        text-decoration: line-through;
      }
    }

    &.editing {
      .item-editing-button {
        display: none;
      }

      .item-editing-input,
      .item-save-button {
        display: block;
      }
    }
  }
}
